body { background: #e5446d; 
    align-items: center;
    justify-content: center;
    display: flex;
}

.circle{
   background: #f8f4e3;
   border-radius: 50%;
   width: 300px;
   height: 300px;
   position: absolute;

}
.circle2{
   background: #e5446d;
   border-radius: 50%;
   width: 200px;
   height: 200px;
   position: absolute;
   
   
}


